@import "tailwindcss";
/* --- BOTÓN --- */
button {
  border: 2px solid black;
  border-radius: 6px;
  font-weight: 600;
  color: black;
}
button:hover { cursor: pointer; }


.btn-header {
  background-color: #E5E5E5;
  height: 60px;
  width: 110px;
  font-size: 24px;
}

.btn-opciones {
  background-color: #F0B100;
  height: 92px;
  width: 300px;
  font-size: 32px;
}

.btn-login {
  background-color: #009966;
  height: 72px;
  width: 222px;
  font-size: 20px;
  color: white;
}
.btn-header, .btn-opciones, .btn-login { box-shadow: 0px 1px 4px 0px black; }


.btn-carne, .btn-pescado, .btn-verdura, .btn-panaderia, .btn-lacteos, .btn-congelados, .btn-fruta {
  height: 30px;
  width: 116px;
  font-size: 14px;
}

.btn-carne { background-color: #FFA1AD; }
.btn-pescado { background-color: #B8E6FE; }
.btn-verdura { background-color: #B9F8CF; }
.btn-panaderia { background-color: #FFD6A7; }
.btn-lacteos { background-color: #A3B3FF; }
.btn-congelados { background-color: #DBEAFE; }
.btn-fruta { background-color: #E9D4FF; }

/* --- ETIQUETAS --- */
.etiqueta-caducado, .etiqueta-apunto, .etiqueta-nocaducado {
  display: inline-flex;
  justify-content: center; 
  align-items: center;
  width: auto;              
  min-width: 80px;
  height: 25px;
  padding: 0 12px;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
  color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
