@import "tailwindcss";
/* --- VARIABLES --- */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-primario:#E5E5E5;
  --color-secundario:#009966;
  --color-peligro:#E7000B;
  --color-terciario:#F0B100;
  --color-carne:#FFA1AD;
  --color-lacteos:#A3B3FF;
  --color-pescado:#B8E6FE;
  --color-fruta:#E9D4FF;
  --color-verdura:#B9F8CF;
  --color-panaderia:#FFD6A7;
  --color-congelados:#DBEAFE;
}

/* --- BOTÓN --- */
button {
  border: 2px solid black;
  border-radius: 6px;
  font-weight: 600;
  color: black;
}

.btn-carne, .btn-pescado, .btn-verdura, .btn-panaderia, .btn-lacteos, .btn-congelados, .btn-fruta {
  height: 30px;
  width: 116px;
  font-size: 14px;
}

.btn-header, .btn-opciones, .btn-login { box-shadow: 0px 1px 4px 0px black; }

.btn-header {
  background-color: #E5E5E5;
  height: 74px;
  width: 138px;
  font-size: 24px;
}

.btn-opciones {
  background-color: #F0B100;
  height: 92px;
  width: 300px;
  font-size: 32px;
}

.btn-login {
  background-color: #009966;
  height: 72px;
  width: 222px;
  font-size: 20px;
  color: white;
}

.btn-carne { background-color: #FFA1AD; }
.btn-pescado { background-color: #B8E6FE; }
.btn-verdura { background-color: #B9F8CF; }
.btn-panaderia { background-color: #FFD6A7; }
.btn-lacteos { background-color: #A3B3FF; }
.btn-congelados { background-color: #DBEAFE; }
.btn-fruta { background-color: #E9D4FF; }