@import "tailwindcss";
/* --- VARIABLES --- */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-primario:#E5E5E5;
  --color-secundario:#009966;

  --color-peligro:#E7000B;
  --color-terciario:#F0B100;
  
  --color-carne:#FFA1AD;      --color-carne-texto:#FF5C72;
  --color-lacteos:#A3B3FF;    --color-lacteos-texto:#002BFF;
  --color-pescado:#B8E6FE;    --color-pescado-texto:#5EC5FD;
  --color-fruta:#E9D4FF;      --color-fruta-texto:#8E25FF;
  --color-verdura:#B9F8CF;    --color-verdura-texto:#17E860;
  --color-panaderia:#FFD6A7;  --color-panaderia-texto:#FF8800;
  --color-congelados:#DBEAFE; --color-congelados-texto:#055AC8;
}

/* --- BOTÓN --- */
button {
  border: 2px solid var(--color-negro);
  border-radius: 6px;
  font-weight: 600;
  color: var(--color-negro);
}

.btn-carne, .btn-pescado, .btn-verdura, .btn-panaderia, .btn-lacteos, .btn-congelados, .btn-fruta {
  height: 30px;
  width: 116px;
  font-size: 14px;
}

.btn-header, .btn-opciones, .btn-login { box-shadow: 0px 1px 4px 0px var(--color-negro); }

.btn-header {
  background-color: var(--color-primario);
  height: 74px;
  width: 138px;
  font-size: 24px;
}

.btn-opciones {
  background-color: var(--color-terciario);
  height: 92px;
  width: 300px;
  font-size: 32px;
}

.btn-login {
  background-color: var(--color-secundario);
  height: 72px;
  width: 222px;
  font-size: 20px;
  color: var(--color-blanco);
}

.btn-carne { background-color: var(--color-carne); }
.btn-pescado { background-color: var(--color-pescado); }
.btn-verdura { background-color: var(--color-verdura); }
.btn-panaderia { background-color: var(--color-panaderia); }
.btn-lacteos { background-color: var(--color-lacteos); }
.btn-congelados { background-color: var(--color-congelados); }
.btn-fruta { background-color: var(--color-fruta); }